
.body {
    background-color: rgb(220, 224, 226);
    height: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
   
   
    @media (max-width: 768px) {
        height: 150px; 
        margin-top: 20px;
    }
}

.h1body {
    margin-left: 60px;

   
    @media (max-width: 768px) {
        margin-left: 30px;
    }
}

